@import "tailwindcss";
@import "flowbite";

/* body 기본 스타일 + 다크모드 적용 */
html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    @apply bg-white text-gray-900 dark:bg-black dark:text-white;
    font-family: system-ui, sans-serif;
}